{{ define "title" }}{{ .Title }} &bullet; {{ .Site.Title }}{{ end }}
{{ define "content" }}
  <section class="container list">
  <h1>{{ .Title }}</h1>
  {{ with .OutputFormats.Get "Calendar" -}}
  <p>Kalendarz: <a class="link" href="{{ .RelPermalink }}">.ics</a> | Konferencja <a href="https://meet.jit.si">Jitsi</a>: <a href="{{ $.Params.jitsi_link }}">{{ $.Params.jitsi_link }}</a></p>
  {{- end }}
  {{ .Content }}
  <!-- list all talks; list non-future slides; else list things that are not future and not slides -->
  {{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
  <table>
    <tr>
      <th>Numer</th>
      <!-- Numer 	Data1 	Tytuł 	Kalendarz 	Slajdy 	Nagranie -->
      <th>Data</th>
      <th>Tytuł</th>
      <th>Kalendarz</th>
      <th>Slajdy</th>
      <th>Nagranie</th>
    </tr>
    {{ $total := len $pages }}
    {{ range $index, $element := $pages }}
      <tr>
        <td>{{ sub $total $index }}</td>
        <td>{{ .Date.Format "2006-01-02 15:04:05" }}</td>
        <td>{{ .Title }}</td>
        <td>
        {{ with  $element.OutputFormats.Get "Calendar" -}}
        <a class="link" href="{{ .RelPermalink }}">.ics</a>
        {{- end }}
        </td>
        <td>{{- if .Params.record }}
        <a class="link" href="{{ .Params.slides }}">
        {{- if in .Params.record "docs.google.com" -}}
        gslides
        {{- else -}}
        slides
        {{- end -}}
        </a>
        {{- else -}}
        -
        {{- end }}</td>
        <td>{{- if .Params.record }}
<a class="link" href="{{ .Params.record }}">
{{- if in .Params.record "youtube.com" -}}
youtube
{{- else -}}
video
{{- end -}}
</a>
{{- else -}}
-
{{- end }}</td>
      </tr>
    {{ end }}
  </table>
  </section>
{{ end }}
